<div
class="card-form mdl-shadow--16dp">
    <svg id="close-icon">
        <use xlink:href="/Images/sprites.svg#close"></use>
    </svg>
    <svg id="person-svg-icon">
        <use xlink:href="/Images/sprites.svg#person"></use>
    </svg>
    <h5 id="form-action-text">Enter Channel Name</h5>
    <form class="" action="" method="post">
        <div id="form-input-container">
            <input id="form-input" type="text" value=""
            placeholder="add text here...">
                <svg id="add-svg-icon">
                    <use xlink:href="Images/sprites.svg#add"></use>
                </svg>
            </input>
        </div>
    </form>
</div>
