<!-- front card header  -->
<div id="head" ng-hide="appear">
    <h3 class="front-header-text">
        {{channel.profileName}}
    </h3>
</div>

<!-- front card header text  -->
<div class="front-subheader">
    <svg  id="front-redLight" class="live-icon">
        <use xlink:href="Images/sprites.svg#red-light"></use>
    </svg>
    <a ng-href="{{channel.url}}" target="_blank"><h4>{{channel.frontSubtitel}}</h4></a>
</div>

<!-- front button  -->
<button id="btn" class="mdl-shadow--8dp">
    <i id="icon" class="material-icons">person</i>
</button>

<!-- content for inside of card  -->
<div class="card-info" >

    <div class="info-screens" ng-show="appear">
        <!-- main stream content for inside info  -->
        <div class="info-stream"
        ng-show="appear">
            <h4 class="stream-text-header" >
                {{channel.game}}
            </h4>
            <div class="live-label" >
                <svg class="live-icon" >
                    <use xlink:href="Images/sprites.svg#red-light"></use>
                </svg>
                <span>{{channel.streamLabel}}</span>
            </div>
            <h4 class="stream-text">
                {{channel.strmDscr}}
            </h4>
            <a ng-href="{{channel.url}}" target="_blank">
                <button ng-href="{{channel.url}}"type="button" class="stream-btn">
                    <svg class="play-icon">
                        <use xlink:href="Images/sprites.svg#play-icon"></use>
                    </svg>
                    <span class="stream-btn-text">watch now</span>
                </button>
            </a>
        </div>

        <div class="info-followers" ng-show="appear">
            <h4 class="followers-text-header" >
                Followers
            </h4>
            <h4 class="follower-number">
                {{channel.followers}}
            </h4>
            <button type="button" class="follower-btn">
                <span class="stream-btn-text">view channel</span>
            </button>
        </div>
    </div>

    <!-- button sits on top of info footer -->
    <button type="button" id="btn-next"class="btn-next mdl-shadow--8dp"
    ng-show="appear">
        <div class="next-arrow-container">
            <svg id="arrow-forward-icon">
                <use xlink:href="Images/sprites.svg#arrow-forward"></use>
            </svg>
        </div>
    </button>
    <!-- footer for inside info  -->
    <div class="info-footer"
    ng-show="appear">
        <h3>{{channel.profileName}}'s Channel</h3>
    </div>
</div>

<!-- close button on inside of card MOVE THIS INSIDE CARD INFO-->
<button type="button" id="info-close-btn" class="close-btn" ng-show="appear">
    <i class="material-icons">close</i>
</button>
