.sass-cache/

Images/**
!Images/sprites.svg
!Images/astroSpace.jpg
!Images/csGo.jpg
!Images/marioIsland.jpg
!Images/LoL.jpg


node_modules/**

bower_components/angular/
bower_components/angular-animate/**
!bower_components/angular-animate/angular-animate.min.js

bower_components/angular-aria/**
!bower_components/angular-aria/angular-aria.min.js

bower_components/angular-material/**
!bower_components/angular-material/angular-material.min.js

node_modules/**
!node_modules/babel-es6-polyfill/
node_modules/babel-es6-polyfill/**
!node_modules/babel-es6-polyfill/browser-polyfill.min.js

!node_modules/angular-route/
node_modules/angular-route/**
!node_modules/angular-route/angular-route.min.js
