<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitch</title>
    <link rel="stylesheet" href="styles/main.css" charset="utf-8">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.deep_purple-blue.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div
    class="nav"
    ng-controller="navController as nav"
    nav-dir>
    </div>

    <div class="header"  ng-controller="cardsCtrl as card">
        <div class="grid-mask">
            <div class="live-card-grid" >
                <div class=" mdl-shadow--4dp card"
                ng-show="card.service.online"
                ng-repeat="channel in card.channels.online"
                my-dir appear="false"
                channel="channel"
                toggle="true">
                </div>
                <div class=" mdl-shadow--4dp card"
                ng-show="card.service.offline"
                ng-repeat="channel in card.channels.offline"
                ng-class="{'card-offline':channel.live===false}"
                my-dir appear="false"
                channel="channel"
                toggle="true">
                </div>
            </div>
        </div>
    </div>

    <div
    class="add-card-container"
    addcard-dir>
    </div>



    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js">
    </script>

    <script src="node_modules/babel-es6-polyfill/browser-polyfill.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="scripts/build/app.js"></script>
    <script src="scripts/build/cardController.js"></script>
    <script src="scripts/build/navController.js"></script>
    <script src="scripts/build/factory.js"></script>
    <script src="scripts/build/menuService.js"></script>
    <script src="scripts/build/cardDirective.js"></script>
    <script src="scripts/build/addCardDirective.js"></script>
    <script src="scripts/build/navDirective.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
</body>

</html>
