.add-card-container {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(35, 44, 56, .7),
        rgba(35, 44, 56, .7)
    );
    .card-form {
        position: absolute;
        @include center-me();
        width: 55vh;
        height: 50vh;
        background-color: $dark-grey;
    }
    #close-icon {
        position: absolute;
        top: 3%;
        left: 3%;
        fill: white;
        height: 2em;
        width: 2em;
        cursor: pointer;
    }
    #person-svg-icon {
        @include center-me-horiz();
        fill: white;
        top: 20%;
        height: 9em;
    }
    #form-action-text {
        @include center-me();
        width: 70%;
        line-height: 1.2em;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5em;
        color: white;
        text-align: center;
    }
    #form-input-container {
        @include center-me-horiz();
        height: 4em;
        width:65%;
        background-color: $blue;
        bottom: 15%;
        #form-input {
            @include center-me();
            text-align: center;
            border: 0px;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            padding: -10px 0;
            color: white;
            margin: 0;
            height: 3em;
            width: 75%;
            background-color: transparent;
            outline: none;
        }
        #add-svg-icon {
            @include center-me-vert();
            right: 5%;
            fill: white;
            height: 1.8em;
            width: 1.8em;
            cursor: pointer;
            &:active {
                fill: $dark-blue;
            }
        }
    }
}
