// slide animations
@keyframes rotate {
    from{transform: rotate(0deg)}
    to{transform: rotate(-180deg)}
}
@keyframes slide {
    from{left: 0;}
    to{transform: translateX(-400px)}
}
@keyframes slideBtn {
    from{}
    to{transform: translateX(-440px)}
}
@keyframes slideIn {
    from{transform: translateX(400px)}
    to{transform: translateX(0px)}
}
@keyframes return {
    from{}
    to{transform: translateX(-90px)}
}


#card {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    overflow:hidden;
    margin: 20px;

}
#head{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80%;
    background:
        linear-gradient(
            rgba(69, 56, 174, .9), // purple rgb 69 56 174
            rgba(69, 56, 174, .9)
        ),
        url(https://s3.amazonaws.com/freecodecamp/wide-social-banner.png) center no-repeat;
        z-index: 2;
        .front-header-text {
            position: relative;
            text-align: center;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: white;
            top: 50%;
            transform: translateY(-50%);
        }
}
.front-subheader {
    position: absolute;
    bottom: 0px;
    width: 280px;
    color: $dark-grey;
    z-index: 3;
    height: 80px;
    #front-redLight {
        position: relative;
        top: -4px;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin: 0 5%;
    }
    h4 {
        margin: none;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        text-decoration: underline;
        display: inline-block;
    }
}
#btn {
    outline: none;
    position: absolute;
    background-color: $orange;
    color: white;
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    right: 10%;
    top: 70%;
    z-index: 3;
    i {
        font-size: 30px;
    }
}
.card-info {
    position: relative;
    height: 100%;
    width: 400px; // COME BACK AND REMOVE
    background-color: transparent;
    #little-box {
        background-color: yellow;
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 5;
        bottom: 35px;
        right: -50px;
    }
    .info-screens{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        z-index: 4;
        .info-stream {
            position: absolute;
            width: 100%;
            z-index: 4;
            height: 85%;
            background:
                linear-gradient(
                // color to be used for background
                    // $blue: 46, 126, 253,
                    // $dark-blue: 29, 83, 161,
                    // $orange: 231, 111, 89,
                    // $purple: 69, 56, 174,
                    // $dark-grey: 35, 44, 56,
                    to bottom,
                    rgba(46, 126, 253, .95),
                    rgba(46, 126, 253, .95)
            // use this chunk for orange to black gradient
                    // rgba(222, 108, 87, .95)15%,
                    // rgba(200, 100, 80, .95)30%,
                    // rgba(190, 95, 75, .95)35%,
                    // rgba(180, 90, 72, .95)40%,
                    // rgba(175, 85, 70, .95)45%,
                    // rgba(117, 71, 70, .95),
                    // rgba(40, 40, 50, .98)
                ),
                url(/Images/stream-bg.jpg) center;
            .stream-text-header {
                position: relative;
                top:15%;
                margin: 0;
                text-align: center;
                font-weight: 600;
                font-size: 28px;
                font-family: "Open Sans",sans-serif;
                color: white;
            }
            .live-label {
                text-align: center;
                position: relative;
                width: 30%;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                .live-icon {
                    position: relative;
                    bottom: 0px;
                    height:14px;
                    width: 14px;
                    left: 0px;
                    margin-right: 3px;
                }
                span {
                    color: white;
                    font-family: "Open Sans",sans-serif;
                    font-size: 14px;
                    font-weight: light;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
            .stream-text {
                position: relative;
                top: 35%;
                transform: translateY(-50%);
                color: white;
                font-family: "Open Sans",sans-serif;
                font-size: 18px;
                text-align: center;
                letter-spacing: 1px;
            }
            .stream-btn {
                position: absolute;
                bottom: 12%;
                height: 40px;
                width: 150px;
                background-color: transparent;
                border: 2px solid white;
                border-radius: 40px;
                outline: none;
                transition: border-color 100ms linear;
                @include center-me-horiz();
                .play-icon {
                    @include center-me-vert();
                    height: 14px;
                    width: 14px;
                    fill: white;
                    margin-left: -10px;
                }
                .stream-btn-text {
                    color: white;
                    font-family: "Open Sans",sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    margin-left: 10px;
                    margin-right: -5px;
                }
                &:hover {
                    // insert some sort of animation here
                }
            }
        }
        .info-followers {
            position: absolute;
            left: 400px;
            background: linear-gradient(
                to bottom,
                rgba(46, 126, 253, .9),
                rgba(46, 126, 253, .9)
                ),
                url(/Images/urban-people-bg.jpg) center;
            width: 100%;
            height: 85%;
            z-index: 5;
            .followers-text-header{
                position: relative;
                top:15%;
                margin: 0;
                text-align: center;
                font-weight: 600;
                font-size: 28px;
                font-family: "Open Sans",sans-serif;
                color: white;
            }
            .follower-number{
                font-family: "Open Sans",sans-serif;
                color: white;
                font-size: 70px;
                font-weight: 700;
                position: relative;
                text-align: center;
                top: 28%;
            }
            .follower-btn {
                position: absolute;
                bottom: 12%;
                padding: 10px 20px;
                background-color: transparent;
                border: 2px solid white;
                border-radius: 40px;
                outline: none;
                transition: border-color 100ms linear;
                @include center-me-horiz();
                .stream-btn-text {
                    color: white;
                    font-family: "Open Sans",sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                &:hover {
                    // insert some sort of animation here
                }
            }
        }
    }
    .btn-next {
        position: absolute;
        right: 10%;
        height: 50px;
        width: 50px;
        bottom: 35px;
        background-color: $orange;
        border: none;
        border-radius: 50%;
        z-index: 5;
        outline: none;
        #arrow-forward-icon {
            height: 25px;
            width: 25px;
            fill: white;
        }
    }
    .inBox{
        height:50px;
        width:50px;
        left:0px;
        bottom:0px;
        .next-arrow-container {
            transform: rotate(180deg);
        }
    }
    .info-footer{
        position: absolute;
        height: 15%;
        width: 100%;
        bottom: 0px;
        background-color: $dark-grey;
        z-index: 4;
        h3 {
            @include center-me-vert();
            color: white;
            font-size: 16px;
            margin: 0;
            left: 20px;
        }
    }
}

#info-close-btn {
    border-radius: 50%;
    background-color: transparent;
    border: 0px;
    height: 30px;
    width: 30px;
    outline: none;
    position: absolute;
    right: 1%;
    top: 1%;
    color: white;
    z-index: 5;
    i {
        font-size: 14px;
    }
}
.animate-return {
    animation: return 305ms ease both;
}
.animate-rotate {
    animation: rotate 200ms cubic-bezier(.47,.14,.22,.93) both;
}
.animate-slide {
    animation: slide 600ms cubic-bezier(.47,.14,.22,.93) both;
}
.animate-slide-button {
    animation: slideBtn 600ms cubic-bezier(.47,.14,.22,.93) both;
}
.animate-fill {
    animation: go 800ms 30ms ease-in-out  both;
}
.animate-fill-backwards {
    animation: goBack 800ms ease-in-out both;
}
.animate-hide {
    animation: hide 500ms ease-in-out both;
}
.animate-show {
    animation: show 500ms ease-in-out both;
}
// .ng-hide-remove {
//     animation: show 200ms ease-in-out;
// }
// .ng-hide-add {
//     animation: hide 300ms ease-in-out;
// }
// .info-followers.ng-hide-remove {
//     animation: slideIn 600ms cubic-bezier(.47,.14,.22,.93) both;
// }
