@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@keyframes blueGreen {
  from {
    background-color: #2E7EFD; }
  to {
    background-color: #34A853; } }
@keyframes go {
  0% {
    position: absolute;
    right: 10%;
    top: 70%; }
  60% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%; }
  100% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 160%;
    height: 160%; } }
@keyframes goBack {
  0% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(7); }
  60% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%; }
  100% {
    right: 10%;
    top: 70%; } }
@keyframes hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  background-color: whitesmoke; }

#card {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin: 20px; }

#head {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80%;
  background: linear-gradient(rgba(69, 56, 174, 0.9), rgba(69, 56, 174, 0.9)), url(https://s3.amazonaws.com/freecodecamp/wide-social-banner.png) center no-repeat;
  z-index: 2; }
  #head .front-header-text {
    position: relative;
    text-align: center;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    top: 50%;
    transform: translateY(-50%); }

.front-subheader {
  position: absolute;
  bottom: 0px;
  width: 280px;
  color: #232C38;
  z-index: 3;
  height: 80px; }
  .front-subheader #front-redLight {
    position: relative;
    top: -4px;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5%; }
  .front-subheader h4 {
    margin: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block; }

#btn {
  outline: none;
  position: absolute;
  background-color: #E76F59;
  color: white;
  border: none;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  right: 10%;
  top: 70%;
  z-index: 3; }
  #btn i {
    font-size: 30px; }

.card-info {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent; }
  .card-info .info-stream {
    position: absolute;
    width: 100%;
    z-index: 4;
    height: 85%;
    background: linear-gradient(to bottom, rgba(69, 56, 174, 0.95), rgba(69, 56, 174, 0.95)), url(/Images/stream-bg.jpg) center; }
    .card-info .info-stream .stream-text-header {
      position: relative;
      top: 15%;
      margin: 0;
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      font-family: "Open Sans",sans-serif;
      color: white; }
    .card-info .info-stream .live-label {
      text-align: center;
      position: relative;
      width: 30%;
      top: 30%;
      left: 50%;
      transform: translateX(-50%); }
      .card-info .info-stream .live-label .live-icon {
        position: relative;
        bottom: 0px;
        height: 14px;
        width: 14px;
        left: 0px;
        margin-right: 3px; }
      .card-info .info-stream .live-label span {
        color: white;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        font-weight: light;
        letter-spacing: 1px;
        text-transform: uppercase; }
    .card-info .info-stream .stream-text {
      position: relative;
      top: 35%;
      transform: translateY(-50%);
      color: white;
      font-family: "Open Sans",sans-serif;
      font-size: 18px;
      text-align: center;
      letter-spacing: 1px; }
    .card-info .info-stream .stream-btn {
      position: absolute;
      bottom: 12%;
      height: 40px;
      width: 150px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 40px;
      outline: none;
      transition: border-color 100ms linear;
      position: absolute;
      left: 50%;
      transform: translate(-50%); }
      .card-info .info-stream .stream-btn .play-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 14px;
        width: 14px;
        fill: white;
        margin-left: -10px; }
      .card-info .info-stream .stream-btn .stream-btn-text {
        color: white;
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-left: 10px;
        margin-right: -5px; }
  .card-info .btn-next {
    position: absolute;
    right: 10%;
    height: 50px;
    width: 50px;
    bottom: 35px;
    background-color: #E76F59;
    border: none;
    border-radius: 50%;
    z-index: 5;
    outline: none; }
    .card-info .btn-next .arrow-forward-icon {
      height: 25px;
      width: 25px;
      fill: white; }
  .card-info .info-footer {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0px;
    background-color: #232C38;
    z-index: 4; }
    .card-info .info-footer h3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-size: 16px;
      margin: 0;
      left: 20px; }

#info-close-btn {
  border-radius: 50%;
  background-color: transparent;
  border: 0px;
  height: 30px;
  width: 30px;
  outline: none;
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;
  z-index: 5; }
  #info-close-btn i {
    font-size: 14px; }

.changeColor {
  animation: blueGreen 2s 1s linear both; }

.animate-fill {
  animation: go 800ms ease-in-out  both; }

.animate-fill-backwards {
  animation: goBack 800ms ease-in-out both; }

.animate-hide {
  animation: hide 500ms linear both; }

.animate-show {
  animation: show 500ms linear both; }

.ng-hide-remove {
  animation: show 200ms linear; }

.ng-hide-add {
  animation: hide 300ms linear; }

.grid {
  position: relative;
  left: 50px;
  top: 50px; }

/*# sourceMappingURL=main.css.map */
