$blue: #2E7EFD; // rgb R: 46 G: 126 B: 253
$dark-blue: #1D53A1; // 29 83 161
$orange: #E76F59; // 231 111 89
$purple: #4538AE; // 69 56 174
$dark-grey: #232C38; // 35 44 56

// imports

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// vendor prefixes
@mixin animation( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin transition( $str ) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};
}
@mixin transform( $str ) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}


@keyframes blueGreen {
    from{background-color: $blue}
    to{background-color: #34A853}
}
@keyframes go{
  0%{
    position: absolute;
    right: 10%;
    top: 70%;
  }
  60%{
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  100% {
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 160%;
    height: 160%;
  }
}
@keyframes goBack{
  0%{
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%) scale(7);
  }
  60%{
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  100% {
    right: 10%;
    top: 70%;
  }
}
@keyframes hide {
  from{opacity: 1}
  to{opacity: 0}
}
@keyframes show {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes slideView {
    from{
        transform: translateX(0px) rotateX(0deg)
    }
    to{
        transform: translateX(-2080px);
    }
}
// mixins

@mixin center-me{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@mixin center-me-vert{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-me-horiz{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


@import 'cards';
@import 'nav-bar';


body {
  background-color: whitesmoke;
}

.grid-mask{
    position: relative;
    height: 450px;
    left: 300px;
    width: 1320px;
    overflow: hidden;
}
.live-card-grid{
    position: relative;
    transform: translate(0,0);
    padding-top: 20px;
    width: 4000px;
    // background-color: $dark-grey;
    transition: transform 800ms ease-in-out;
}
