$blue: #2E7EFD; // rgb R: 46 G: 126 B: 253
$dark-blue: #1D53A1; // 29 83 161
$dark-blue-light: #3965a6; //rgb(57, 101, 166);
$orange: #E76F59; // 231 111 89
$purple: #4538AE; // 69 56 174
$dark-grey: #232C38; // 35, 44, 56,
$red: #EF6060;

$navWidth: 200px;

// imports

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// vendor prefixes
@mixin animation( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin transition( $str ) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};
}
@mixin transform( $str ) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

// centering
@mixin center-me{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform('translate(-50%,-50%)');
}
@mixin center-me-vert{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-me-horiz{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


@keyframes buttonFill{
  0%{}
  60%{
    top: 50%;
    right: 50%;
    @include transform('translate(50%,-50%)');
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  100% {
    top: 50%;
    right: 50%;
    @include transform('translate(50%,-50%)');
    width: 150%;
    height: 170%;
  }
}
@keyframes buttonReturn{
  0%{
    top: 50%;
    right: 50%;
    @include transform('translate(50%,-50%)');
    width: 150%;
    height: 170%;
  }
  60%{
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  100% {
    right: 8%;
    top: 85%;
    @include transform(translateY(-50%));
  }
}
@keyframes hide {
  from{opacity: 1}
  to{opacity: 0}
}
@keyframes show {
  from{opacity: 0}
  to{opacity: 1}
}

body {
  // background-color: whitesmoke;
}

.pageContent {
    position: absolute;
    height: 100%;
    left: 200px;
    background: #F1F1F1;
    overflow-y:scroll;

}

.live-card-grid{
    width: 92%;
    @include center-me-horiz();
    position: relative;
    top: 5%;
    // background-color: $dark-grey;
}

.add-card-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: $purple;
    cursor: pointer;
    &:active {
        /* offset-x | offset-y | blur-radius | spread-radius | color*/
        box-shadow: 0px 16px 24px 1px rgba(0, 0, 0, .14),  // color .14 opacity
                    0px 6px 30px 5px rgba(0,0,0, .098),  // color .14 opacity
                    0px 8px 10px -5px rgba(0,0,0, .084)  // color .14 opacity
  }
  #add-card-btn-icon {
    @include center-me();
    fill: white;
    height: 3.5em;
    width: 3.5em;
  }
}


@import 'cards';
@import 'nav-bar';
@import 'addCard';
@import 'search';
@import 'media';
