// break points
$phablet: 414px;
$nav-height: 14vh;



@media screen and (max-width: 1620px) and (min-width: 1321px) {
  .nav{

  }

  .search-container {
    top: 2em;
    width: 90%;
    margin-left: -15px;
    .search-box {
      width: 92%;
    }
  }

  .live-card-grid {
    top: 6.3em;
    width:90%;
    margin-left:-10px;
  }

  .card {
    width: 25.17%;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    margin: 4.017%;
    .card-wrapper{
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 90%;
    }
    .front-card{
      .subhead-action{
        .subhead-action-container {
          width: 70%;
        }
      }
    }
    .card-back {

        #info-btns {

          #arrow-back-icon {
            height: .8em;
            width: .8em;
          }
          #delete-icon {
            height: 1em;
            width: 1em;
          }
        }
        .box{
            h5 {
              font-size: 16px;
              font-weight: 300;
            }
            p {
              font-size: 14px;
              font-weight: 300;
            }
            .sec-cont {
              .sec-icon {
                height: 1.5em;
                width: 1.5em;
              }
            }
        }
    }
  }

  .add-card-container {
    .card-form {
      @include center-me();
      height: 50vh;
      width: 50vh;
      #close-icon {
        left: 3%;
        top: 3%;
        height: 1.8em;
        width: 2.8em;
      }
      #form-input-container {

      }
      .form-header{
        #person-svg-icon {
          height: 10em;
          width: 10em;
        }
        #form-action-text {
        }
      }
    }
  }

}

@media screen and (max-width: 1320px) and (min-width: 1000px) {
  .nav{

  }

  .search-container {
    top: 2em;
    width: 90%;
    margin-left: -15px;
    .search-box {
      width: 90%;
    }
  }

  .live-card-grid {
    top: 6.3em;
    width:90%;
    margin-left:-10px;
  }

  .card {
    width: 40%;
    font-size: 18px;
    position: relative;
    margin: 5%;
    .card-wrapper{
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      .card-back {

          #info-btns {

            #arrow-back-icon {
              height: .8em;
              width: .8em;
            }
            #delete-icon {
              height: 1em;
              width: 1em;
            }
          }
          .box{
              h5 {
                font-size: 16px;
                font-weight: 400;
              }
              p {
                font-size: 16px;
                font-weight: 400;
              }
              .sec-cont {
                .sec-icon {
                  height: 1.5em;
                  width: 1.5em;
                }
              }
          }
      }
    }
    .front-card{
      .subhead-action{
        .subhead-action-container {
          width: 70%;
        }
      }
    }

  }

  .add-card-container {
    .card-form {
      @include center-me();
      height: 60vh;
      width: 60vh;
      #close-icon {
        left: 3%;
        top: 3%;
        height: 1.8em;
        width: 2.8em;
      }
      #form-input-container {

      }
      .form-header{
        #person-svg-icon {
          height: 15em;
          width: 15em;
        }
        #form-action-text {
          margin-top: 1em;
        }
      }
    }
  }

}

@media screen and (max-width: 999px) and (min-width: 800px) {
  .nav{
    ul {
      top: 2%;
    }
  }

  .search-container {
    top: 2em;
    width: 90%;
    .search-box {
      width: 95.5%;
    }
  }

  .live-card-grid {
    top: 6.3em;
    width:90%;
  }

  .card {
    width: 46%;
    font-size: 18px;
    position: relative;
    margin: 2%;
    .card-wrapper{
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      .card-back {

          #info-btns {

            #arrow-back-icon {
              height: .8em;
              width: .8em;
            }
            #delete-icon {
              height: 1em;
              width: 1em;
            }
          }
          .box{
              h5 {
                font-size: 16px;
                font-weight: 400;
              }
              p {
                font-size: 16px;
                font-weight: 400;
              }
              .sec-cont {
                .sec-icon {
                  height: 1.5em;
                  width: 1.5em;
                }
              }
          }
      }
    }
    .front-card{
      .subhead-action{
        .subhead-action-container {
          width: 70%;
        }
      }
    }

  }

  .add-card-container {
    .card-form {
      @include center-me();
      height: 70vh;
      width: 70vh;
      #close-icon {
        left: 3%;
        top: 3%;
        height: 1.8em;
        width: 2.8em;
      }
      #form-input-container {

      }
      .form-header{
        #person-svg-icon {
          height: 15em;
          width: 15em;
        }
        #form-action-text {
          margin-top: 1em;
        }
      }
    }
  }

}

@media screen and (max-width: 799px) and (min-width: 414px) {
  .nav{
    ul {
      top: 5%;
    }
  }

  .search-container {
    top: 2em;
    width: 100%;
    .search-box {
      width: 70%;
    }
  }

  .live-card-grid {
    top: 6.3em;
    width:100%;
  }

  .card {
    width: 70%;
    font-size: 18px;
    position: relative;
    margin: 6% 15%;
    .card-wrapper{
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      .card-back {

          #info-btns {

            #arrow-back-icon {
              height: .8em;
              width: .8em;
            }
            #delete-icon {
              height: 1em;
              width: 1em;
            }
          }
          .box{
              h5 {
                font-size: 16px;
                font-weight: 400;
              }
              p {
                font-size: 16px;
                font-weight: 400;
              }
              .sec-cont {
                .sec-icon {
                  height: 1.5em;
                  width: 1.5em;
                }
              }
          }
      }
    }
    .front-card{
      .subhead-action{
        .subhead-action-container {
          width: 70%;
        }
      }
    }

  }

  .add-card-container {
    .card-form {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      @include transform("translate(0%,0%)");
      #close-icon {
        z-index: 10;
        left: 4%;
        top: 3em;
        @include transform("translateY(-50%)");
      }
      #form-input-container {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 6em;
        margin-bottom: 0px;
      }
      .form-header{
        position: absolute;
        top: 6em;
        height: 40%;
        bottom: 0px;
        #person-svg-icon {
          position: absolute;
          top: 1em;
          height: 7em;
          width: 7em;
        }
        #form-action-text {
          position: absolute;
          top: 5.7em;
          margin: 0;
        }
      }
    }
  }

}

/*
/*-------- smallest mobile view
*/
@media screen and (max-width: $phablet) {
  .nav {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: $dark-grey;
    ul {
      height: 50px;
      margin: 0px;
      top: 0px;
      .tab{
        position: relative;
        padding: 0px;
        display: inline-block;
        width: 33.3%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
        &:after {
          display: block;
          left: 0px;
          height: 3px;
          width: 0%;
          bottom: -1px;
          @include transition("width 500ms ease");
        }
      }
      .tab-active{
        background-color: lighten($dark-grey, 8%);
        &:after {
          // width: 100%;
        }
      }
    }
    .add-card-btn {
      background-color: lighten($dark-grey, 8%);
      height: 50%;
      width: 100%;
      @include center-me-horiz();
      bottom: 0px;
      #add-card-btn-icon {
        @include center-me-vert();
        left: 25%;
        height: 20px;
        width: 20px;
        display: inline-block;
      }
      #add-card-btn-text {
        @include center-me();
        height: 14px;
        font-size: 14px;
        display: inline-block;
      }
    }
  }

  .pageContent {
    top: 80px;
    left: 0px;
    width: 100%;
    height: 100-$nav-height;
  }
  .search-container {
    top: 2em;
    width: 85vw;
    .search-box {
      width: 100%;
    }
  }

  .live-card-grid {
    top: 7em;
    width:85vw;
    margin-left:-10px;
  }

  .card {
    width: 85vw;
    height: 80vw;
    font-size: 18px;
    .card-wrapper {
      .front-card{
        .subhead-action{
          .subhead-action-container {
            width: 70%;
          }
        }
      }
      .card-back {
          #info-btns {
            #arrow-back-icon {
              height: .7em;
              width: .7em;
            }
          }
          .box{
              h5 {
                font-size: 16px;
                font-weight: 300;
              }
              p {
                font-size: 14px;
                font-weight: 300;
              }
              .sec-cont {
                .sec-icon {
                  height: 1.5em;
                  width: 1.5em;
                }
              }
          }
      }
    }
  }

  .add-card-container {
    .card-form {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      @include transform("translate(0%,0%)");
      #close-icon {
        z-index: 10;
        left: 4%;
        top: 3em;
        @include transform("translateY(-50%)");
      }
      #form-input-container {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 6em;
        margin-bottom: 0px;
      }
      .form-header{
        position: absolute;
        top: 6em;
        height: 40%;
        bottom: 0px;
        #person-svg-icon {
          position: absolute;
          top: 1em;
          height: 7em;
          width: 7em;
        }
        #form-action-text {
          position: absolute;
          top: 5.7em;
          margin: 0;
        }
      }
    }
  }

}
